body{
  font-family: Georgia;
  background: #ECECEC;
  height: 100%;
  width: 100%;
}

#container {
  width: 250px;
  height: 250px;

  /*centers the container in the middle of body, and only this!*/
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#solidBall {
  width: 250px;
  height: 250px;
  border-radius: 50%;

  /*if you change logo to color then also remove background size*/
  background: url(Spotify_logo_black.png);
  background-size: contain;

  /*makes sure elements stack properly*/
  position: absolute;
  z-index: 1;
}

#fadeBall {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #1ed760;

  z-index: -1;

  /*run animation with settings*/
  animation-name: sizeAndFade;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

/*animatin that scales and fade a ball*/
@keyframes sizeAndFade {
  from {width: 250px; height: 250px; opacity: 1;}
  to {width: 375px; height: 375px; opacity: 0;  margin-left: -62.5px; margin-top: -62.5px;}
}
